@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F1F1F1;
    --cor-terciaria: #0F3D3E;
    --cor-hover: #0f3d3e85;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 5% 0% 0% 15% ;

}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    text-decoration: underline;
    color: var(--cor-hover);
}

.apresentacao {
    padding: 2% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.55rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__subtitulo {
    font-size: 1.125rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 14px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 10px 0;
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
    text-decoration: underline;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 20px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.125rem;
}

.skills_titulo {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__paragrafo a:hover{
    text-decoration: underline;
    color: var(--cor-hover);
}

.faculdade strong {
    color: var(--cor-terciaria);
}

li strong {
    color: var(--cor-terciaria);
}

.skills {
    max-width: 450px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.skills ul {
    list-style-type: disc;
}

.skills ul li {
    margin-top: 2px;
    padding-bottom: 3px;
    font-family: var(--font-secundaria);
    font-size: 0.875rem;
} 

@media (max-width: 900px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

}