@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: white;
}

.cabecalho {
    padding: 5% 0% 0% 15% ;

}

.cabecalho__menu {
    display: flex;
    gap: 60px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    font-weight: 600;
    color: #FF6900;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 40px 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: #FF6900;
}

.apresentacao__conteudo__paragrafo {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid #FF6900;
    width: 300px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
    color: #FF6900;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: #0f0f0f;
    text-decoration: underline;
}

.rodape {
    padding: 20px;
    color: black;
    background-color: #FF6900;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}